* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.top {
  min-height: 768px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #EBF3FB), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.heading_h1 {
  width: 510px;
  font-size: 64px;
  font-weight: 300;
  color: #1F3F68;
  line-height: 74px;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
}

.heading_h2 {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}

.heading_h3 {
  font-size: 36px;
  text-align: center;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #000000;
}

.heading_h4 {
  font-size: 20px;
  line-height: 30px;
  color: #1F3F68;
  letter-spacing: 0.05em;
  margin-bottom: 14px;
}

.text {
  font-size: 16px;
  line-height: 26px;
  color: #1F3F68;
  letter-spacing: 0.05em;
  opacity: 0.6;
}

.text_footer {
  color: #fff;
}

.text_project {
  width: 75%;
  margin: 32px auto 64px;
  color: #222222;
  opacity: 1;
  text-align: center;
}

.project__img {
  width: 100%;
}

.project__text {
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: absolute;
  top: 64px;
  right: 64px;
}

.project__text_item {
  right: auto;
  text-align: left;
  top: 32px;
  left: 32px;
}

.project__parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}

.project__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.project__item_margin {
  margin-right: 32px;
}

.top__text {
  width: 425px;
}

.what-we-do {
  padding-top: 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.field {
  border: 1px solid #356EAD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}

.submit {
  background: #5A98D0;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.header {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 42px;
}

.top__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.top__info {
  padding-top: 115px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-image: url(img/top_back.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 50%;
}

.top__button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #5A98D0;
  -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
          box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 15px 50px;
  text-decoration: none;
  display: inline-block;
  margin-top: 71px;
}

.card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 64px;
}

.card {
  width: 359px;
  padding: 44px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 51px;
}

.card__link {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
  text-decoration: none;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.footer {
  background-color: #316099;
  padding-top: 91px;
  padding-bottom: 64px;
  margin-top: 113px;
}

.footer_top {
  padding-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_heading {
  width: 340px;
  text-align: left;
  color: #fff;
  margin-bottom: 32px;
}

.footer_buttom {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 15px 80px;
  background: #5498d0;
  text-decoration: none;
}

.footer__info {
  max-width: 495px;
}

.footer__info .heading_h3 {
  max-width: 340px;
}

hr {
  opacity: 0.4;
}

.footer_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 64px;
}

.footer_list {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #fff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 33.3333%;
      flex-basis: 33.3333%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 32px;
}

.footer_list-1:first-child::before {
  content: '1. ';
  display: block;
  margin-right: 16px;
}

.footer_list-2::before {
  content: '2. ';
  display: block;
  margin-right: 16px;
}

.footer_list-3:last-child::before {
  content: '3. ';
  display: block;
  margin-right: 16px;
}

.footer_remark {
  margin-top: 64px;
}

.footer_remark-text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #fff;
  opacity: 0.4;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .top__info {
    background-position: right 280px;
  }
  .card-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    margin-bottom: 32px;
  }
  .footer {
    padding-top: 48px;
    padding-bottom: 64px;
    margin-top: 112px;
  }
  .footer_top {
    padding-bottom: 96px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: wrap;
  }
  .footer_heading {
    width: 340px;
    text-align: left;
    color: #fff;
    margin-bottom: 32px;
  }
  .footer_buttom {
    padding: 4px 31px;
  }
  hr {
    display: block;
    unicode-bidi: -webkit-isolate;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
            margin-block-start: 0.5em;
    -webkit-margin-after: 0.5em;
            margin-block-end: 0.5em;
    -webkit-margin-start: auto;
            margin-inline-start: auto;
    -webkit-margin-end: auto;
            margin-inline-end: auto;
    overflow: hidden;
  }
  .footer_text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_list {
    margin-bottom: 24px;
  }
  .footer_remark {
    margin-top: 64px;
  }
}

@media (max-width: 667px) {
  .header {
    padding-top: 24px;
  }
  .top {
    min-height: 376px;
    padding-bottom: 41px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .top__info {
    padding-top: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: none;
  }
  .heading_h1 {
    width: 100%;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 12px;
    text-align: center;
  }
  .top__text {
    width: 100%;
    text-align: center;
  }
  .top__button {
    font-size: 12px;
    line-height: 26px;
    padding: 0 8px;
  }
  .what-we-do {
    padding-top: 48px;
  }
  .card-box {
    padding-top: 32px;
  }
  .card {
    width: 100%;
  }
  .text_project {
    width: 100%;
  }
  .project__text {
    font-size: 16px;
    line-height: 19px;
    top: 16px;
    right: 16px;
  }
  .project__text_item {
    left: 16px;
  }
  .project__parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 16px;
  }
  .project__item_margin {
    margin: 0;
    margin-bottom: 16px;
  }
  .footer {
    padding-top: 18px;
    padding-bottom: 32px;
  }
  .footer_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 41px;
  }
  .footer__info {
    width: 100%;
  }
  .footer_heading {
    width: 75%;
    text-align: center;
    margin: 0 auto 32px;
  }
  .heading_h3 {
    font-size: 24px;
    line-height: 28px;
  }
  .text_footer {
    text-align: center;
    margin-bottom: 40px;
  }
  .footer_remark {
    text-align: center;
    margin-top: 37px;
  }
  .footer_text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_list {
    margin-bottom: 18px;
  }
  .footer_remark {
    margin-top: 32px;
  }
}
/*# sourceMappingURL=style.css.map */